/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
	color: #2f2a1a; 
	font-size: 1.8rem; 
	font-weight: 400; 
	line-height: 1.4;
	font-family: Courier New, monospace;
}
		
ul { 
	list-style: none; 
}

a { 
	text-decoration: none; 
}

h1, h2 { 
	padding: 10px; 
}

h2 { 
	font-size: 1.85em; /*2.1em; */
	margin-bottom: 40px;
	text-transform: uppercase;
}


h3, h4 {
	letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
}

h3 { 
	font-size: 1.7em; 
	text-transform: capitalize;
}

h4 {
	font-size: 1.1rem;
	margin-bottom: 10px;
}

p {
	font-size: 1.1rem;
	line-height: 1.5;
	text-align: justify;
}

.external-links-container { 
	display: flex; 
	justify-content: space-around; 
}

header, main {  
	background-color: hsl(210deg 15% 32% / 74%); /*rgb(152 42 42 / 30%); #78878cd4; /*#f7622b; */ 
}


/* WELCOME SECTION */
main #welcome-section { 
	/*clear: both;*/ 
	display: flex; 
	flex-direction:	column; 
	justify-content: center;  
	width: 100%; 
	height: 100vh; 
	text-align: center;
	background-image: linear-gradient(#c1b9b1, aliceblue, #b99a7b); /*linear-gradient(linen, aliceblue, linen);*/ 
	color: #2f2a1a; 
}
main #welcome-section h1 { 
	font-size: 2em; 
	margin-top: 10px;
}
main #welcome-section p { 
	font-size: 1.4em;
	text-align: center;
	margin-top: 10px;	
}

 
/* CONTACT SECTION */
main section#contact { 
	color: black; 
	background-color: #f7622b; 
	display: flex; 
	flex-direction: column; 
	justify-content: space-evenly; 
	align-items: center; 
	height: 100vh; 
	text-align: center; 
}

main section#contact h2 { 
	font-size: 1.9em; 
}

main section#contact p { 
	text-align: center;
	font-size: 1.7rem; 
	font-weight: bold;
}

main section#contact .contact-links { 
	display: flex; 
	flex-direction: column;  
	width: 100%; 
}

main section#contact .contact-links a { 
	color: #f3eacdc7; 
	font-size: 1.8rem; 
	font-weight: 800; 
	padding: 5px; 
}


@media only screen and (max-width: 463px) {
	main section#contact .contact-links-container {
		margin: 25px 0;
	}
}

@media only screen and (min-width: 820px) {
	main section#contact .contact-links-container {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly; 
		align-items: baseline;
	}
}


/* FOOTER */
footer { 
	color: black; 
	background-color: #589a58; 
	font-size: 1rem; 
	/*padding: 10px; */
}

footer p { 
	color: #f3eacdc7; 
	font-weight: 800; 
	text-align: end; 
	font-size: 1.2rem; 
	padding: 8px 15px;
	/*margin-bottom: 5px; */
}

footer a { 
	color: inherit; 
}
	
	




